<div class="container">
  <div class="row">
    <div class="elevencol">
      <h1>Moov Muzik</h1>
    </div>
    <div class="onecol last">
      <a href="/home" data-role="button" data-icon="home">Accueil</a>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="onecol">
      <div data-role="content">
        <ul data-role="listview"  data-theme="c" data-dividertheme="d">
          <li><a href="/home/apps">Applications</a></li>
          <li><a href="/home/games">Jeux</a></li>
          <li><a href="/home/ringtones">Sonneries</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>



