<div data-role="header">
  <h1>Moov Muzik</h1>
  <a href="/home" data-role="button" data-icon="home">Home</a>
</div>
<div data-role="content">
  <ul data-role="listview"  data-theme="c" data-dividertheme="d">
    <li><a href="/home/apps">Apps</a></li>
    <li><a href="/home/games">Games</a></li>
    <li><a href="/home/ringtones">Ringtones</a></li>
  </ul>
</div>
