<div data-role="header">
  <h1><i>vodafun</i></h1>
</div>
<div data-role="content">
  <ul data-role="listview"  data-theme="c" data-dividertheme="d">
    <li><a href="/home/ringtones">Moov Muzik</a></li>
    <li><a href="/home/apps">Applications</a></li>
    <li><a href="/home/games">Jeux</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Offres</a></li>
  </ul>

</div>
<div data-role="footer">
  <table align="center">
    <tr>
      <td align="left">
        <%= image_tag("smpro.png", :border => 0,:height => "30%", :width => "30%") %>
      </td>
      <td align="right">
        <%= image_tag("vodacom.png", :border => 0,:height => "30%", :width => "30%") %>
      </td>
    </tr>
  </table>
</div>