<div class="container">
  <div class="row">
    <div class="elevencol">
      <h1>Sonneries</h1>
    </div>
    <div class="onecol last">
      <a href="/home" data-role="button" data-icon="home">Accueil</a>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="elevencol">
      <div data-role="content">
        <ul data-role="listview"  data-theme="c" data-dividertheme="d">
          <% @ringtones.each do |item| %>
            <li><a href="/home/ringtone?id=<%= item.id%>"><%= item.song_title %></a></li>
          <% end  %>
        </ul>
      </div>

    </div>
  </div>
</div>