<div data-role="header">
  <h1><i>moovmuzik</i></h1>
  <a href="/home" data-role="button" data-icon="home">Accueil</a>
  <h2>envoyer liste au 44802</br>pour avoir le top 5<br>du moment</h2>
</div>
<div data-role="content">
  <ul data-role="listview"  data-theme="c" data-dividertheme="d">
    <% @ringtones.each do |item| %>
      <li><a href="/home/ringtone?id=<%= item.id%>"><%= item.song_title %></a></li>
    <% end  %>
  </ul>
</div>